{% extends "base.html" %}
{% load static %}

{% block title %}Add Batch{% endblock %}

{% block layout %}

<div class="card">

    <div class="card-header">
        <h5>Add Batch</h5>
    </div>

    <div class="card-body">

        <form>

            {% csrf_token %}

            <div class="row">

                <div class="col-md-4">
                    <label>Batch Name</label>
                    <input type="text" id="batch_name" class="form-control">
                </div>

                <div class="col-md-4">
                    <label>Product</label>

                    <select id="product" class="form-control">

                        {% for p in products %}

                        <option value="{{p.id}}">
                            {{p.name}}
                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-4">
                    <label>Batch Weight (KG)</label>
                    <input type="number" step="0.001" id="batch_weight_kg" class="form-control">
                </div>

                <div class="col-md-4 mt-3">
                    <label>Standard Output Qty</label>
                    <input type="number" id="standard_output_qty" class="form-control">
                </div>

            </div>


            <hr>


            <h6>Raw Material Consumption Per Batch</h6>

            <table class="table table-bordered" id="rm_table">

                <thead>

                    <tr>
                        <th style="width:40%">Raw Material</th>
                        <th style="width:20%">Qty (KG)</th>
                        <th style="width:20%">Rate</th>
                        <th style="width:20%">Action</th>
                    </tr>

                </thead>

                <tbody></tbody>

            </table>


            <button type="button"
            class="btn btn-success btn-sm"
            onclick="addRow()">

                Add Raw Material

            </button>


            <br><br>


            <button type="button"
            onclick="saveBatch()"
            class="btn btn-primary">

                Save

            </button>

            <a href="/batch" class="btn btn-danger">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}



{% block page_js %}
{{ block.super }}

<script>

let rawMaterials = {{ raw_materials|safe }};


function addRow(){

    let options = '';

    rawMaterials.forEach(r=>{

        options += `<option value="${r.id}">
                        ${r.name}
                    </option>`;

    });


    let row = `

    <tr>

        <td>

            <select class="form-control raw_material">

                ${options}

            </select>

        </td>


        <td>

            <input type="number"
            step="0.001"
            class="form-control qty">

        </td>


        <td>

            <input type="number"
            step="0.01"
            class="form-control rate">

        </td>


        <td>

            <button type="button"
            class="btn btn-danger btn-sm"
            onclick="$(this).closest('tr').remove()">

                Remove

            </button>

        </td>

    </tr>

    `;

    $('#rm_table tbody').append(row);

}



function saveBatch(){

    let raw_materials = [];


    $('#rm_table tbody tr').each(function(){

        raw_materials.push({

            raw_material: $(this).find('.raw_material').val(),
            quantity_kg_per_batch: $(this).find('.qty').val(),
            rate_per_kg: $(this).find('.rate').val()

        });

    });


    let fd = new FormData();

    fd.append('csrfmiddlewaretoken','{{csrf_token}}');
    fd.append('batch_name',$('#batch_name').val());
    fd.append('product',$('#product').val());
    fd.append('batch_weight_kg',$('#batch_weight_kg').val());
    fd.append('standard_output_qty',$('#standard_output_qty').val());

    fd.append('raw_materials', JSON.stringify(raw_materials));


    $.ajax({

        url:"/batch/add-batch",

        type:"POST",

        data:fd,

        processData:false,
        contentType:false,


        beforeSend:()=>swal({text:"Saving...",buttons:false}),


        success:function(res){

            swal.close();

            if(res.response.n==1){

                swal(res.response.msg)

                .then(()=>{

                    window.location.href="/batch";

                });

            }
            else{

                swal(res.response.msg);

            }

        }

    });

}


</script>

{% endblock %}