{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Add Mould{% endblock %}

{% block layout %}
<div class="row">
  <div class="col-xl">
    <div class="card">
      <div class="card-header">
        <h5>Add Mould</h5>
      </div>

      <div class="card-body">
        <form>
          {% csrf_token %}
          <div class="row">

            <div class="form-floating mb-3 col-6">
              <input type="text" id="mould_code" class="form-control" placeholder="Mould Code">
              <label>Mould Code</label>
            </div>

            <div class="form-floating mb-3 col-6">
              <select id="machine" class="form-control">
                {% for m in machines %}
                  <option value="{{ m.id }}">{{ m.machine_code }}</option>
                {% endfor %}
              </select>
              <label>Machine</label>
            </div>

            <div class="form-floating mb-3 col-6">
              <input type="number" id="total_cavity" class="form-control">
              <label>Total Cavity</label>
            </div>

            <div class="form-floating mb-3 col-6">
              <input type="number" id="running_cavity" class="form-control">
              <label>Running Cavity</label>
            </div>

          </div>

          <div class="btn btn-primary" onclick="return validation()">Submit</div>
          <div class="btn btn-danger" onclick="window.history.back()">Cancel</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock layout %}
{% block page_js %}
{{ block.super }}

<script>
function validation() {

  var fd = new FormData();
  fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  fd.append('mould_code', $('#mould_code').val());
  fd.append('machine', $('#machine').val());
  fd.append('total_cavity', $('#total_cavity').val());
  fd.append('running_cavity', $('#running_cavity').val());

  $.ajax({
    url: hosturl + "/masters/add-mould",
    type: 'POST',
    data: fd,
    processData: false,
    contentType: false,
    dataType: 'json',

    beforeSend: () => swal({ icon: "info", text: "Loading...", buttons: false }),

    success: function (res) {
      if (res.response.n == 1) {
        swal("Success", res.response.msg, "success")
          .then(() => window.location.href = hosturl + "/masters/mould");
      } else {
        swal("Error", res.response.msg, "error");
      }
    }
  });
}
</script>
{% endblock page_js %}
